



#form1 {
    height: 150px;
    width: 350px;
    padding: 40px;
    padding-top: 10px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgb(23, 25, 26);
    border-radius: 10px;
    background-color:aqua;
}

#form2 {
    height: 250px;
    width: 350px;
    padding: 40px;
    padding-top: 10px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgb(23, 25, 26);
    border-radius: 10px;
    background-color:aqua;
}


#left { 
    float:left;  
    
    width:40%; 
    height:50px; 
} 
#center{ 
    float:left;  
     
    width:30%; 
    height:50px; 
} 
#right{ 
    float:left; 
    
    width:25%; 
    height:30px; 
}

#USATIME{
    color:black;
    font-weight: 900;
    
}
#LONDONTIME{
    color:black;
    font-weight: 900;

}
#INDIATIME{
    color:black;
    font-weight: 900;
    
}


h1 {
    color:red;
    font-weight: 900;

}

h2 {
    color:red;
    font-weight: 900;

}